html,
body {
  margin: 0;
  background-color: #25003a;
  overflow: hidden;
}

canvas {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #15041f;
  overflow: hidden;
}

#container{
height: 100%;
  position: relative;
  width: 100%;
}
  
 #bg_text{   
  font-family: gergia, serif;
  color: white;
}

#toggle_text
{   
    font-family: gergia, serif;
    color: white;
}
